@import "https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

::selection {
  background: #17605d;
  color: #fff;
  /* color: #ebeff1; */
}

.btn-primary {
  color: #fff;
  padding: 10px 20px;
  background-color: #0077be;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}

.btn-primary:hover {
  background-color: #004b77;
}

.form-control {
  padding: 0.675rem 0.87rem;
  width: 100%;
  border: 1px solid #3f3d3f;
  color: #3f3d3f;
  font-size: 16px;
  border-radius: 7px;
  outline: 0;
}

.form-control:focus {
  border: 1px solid #17605d;
}

.base-tm5-button {
  background: red;
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s all ease;
}

.base-tm5-button:hover {
  background: #16ad44;
}

.bs5-heading {
  display: inline-block;
  font-weight: 600;
  padding-bottom: 10px;
  position: relative;
  font-size: 50px;
  color: #04000b;
}
.bs5-heading span {
  color: #0cb8b6;
}

.bs5-heading::before {
  content: "";
  background: #0cb8b6;
  bottom: 0;
  height: 2px;
  left: 50%;
  margin-left: 20px;
  position: absolute;
  width: 5px;
}

.bs5-heading::after {
  content: "";
  background: #0cb8b6;
  bottom: 0;
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 40px;
}
.bs5-heading-sec p {
  color: #666666;
  text-transform: none;
  font-weight: 400;
  /* font-family: var(--font-default); */
  line-height: 1.8;
  margin-top: 25px;
}
